* {
    box-sizing: border-box;
  }
  
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  
  .clock {
    width: 375px; /* increased by 1.25 */
    height: 375px; /* increased by 1.25 */
    border-radius: 50%;
    position: absolute;
    left: 60%;
  }
  
  .clock-circles {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    font-size: 375px; /* increased by 1.25 */
  }
  
  .clock-circles__item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.25em; /* increased by 1.25 */
    height: 1.25em; /* increased by 1.25 */
    font-size: 125%; /* increased by 1.25 */
  }
  
  .clock-circles__item:nth-child(3) {
    font-size: 100%;
    box-shadow: inset 0px 25px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 50px rgba(37, 13, 105, 0.55), 0px 7.5px 0px #5430ff, 0px -1.5px 0px 4.5px rgba(14, 29, 169, 0.35);
  }
  
  .clock-circles__item:nth-child(1) {
    background-image: linear-gradient(to bottom, #00c0ff, #ffcf00, #fc4f4f, #0e22c3);
    box-shadow: 0px 37.5px 50px 0px rgba(72, 30, 202, 0.2); /* increased by 1.25 */
  }
  
  .clock-circles__item:nth-child(2) {
    background-image: linear-gradient(to bottom, #027fff, #491bc9);
    font-size: 118.75%; /* increased by 1.25 /
  box-shadow: 0px 15px 25px 0px rgba(42, 17, 121, 0.5); 
  
  .clock-circles__item:nth-child(3) {
  font-size: 100%; /* increased by 1.25 /
  box-shadow: inset 0px 25px 50px rgba(0, 0, 0, 0.1), inset 0px 0px 50px rgba(37, 13, 105, 0.55),
  0px 7.5px 0px #5430ff, / increased by 1.25 /
  0px -1.5px 0px 4.5px rgba(14, 29, 169, 0.35); / increased by 1.25 */
  }
  
  .clock-circles__item:nth-child(4) {
    background: #3349c9;
    font-size: 43.75px; /* increased by 1.25 /
  box-shadow: inset 0px 0px 12.5px 0px rgba(0, 0, 0, 0.2), / increased by 1.25 /
  inset 0px 0px 25px 1.25px rgba(54, 21, 148, 0.3); / increased by 1.25 */
  }
  
  .wave {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    font-size: 120%;
  }
  .wave:nth-child(1) {
    opacity: 0;
  }
  .wave:nth-child(2) {
    font-size: 210%;
    opacity: 0.1;
  }
  .wave:nth-child(3) {
    font-size: 320%;
    opacity: 0.1;
  }
  .wave:nth-child(4) {
    font-size: 430%;
    opacity: 0.1;
  }
  .wave:nth-child(5) {
    font-size: 600%;
    opacity: 0.3;
    border-color: #321e9a;
  }
  
  .clock-indicators {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 25%;
    top: 26.5%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 50%;
  }
  .clock-indicators__item {
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    transform-origin: bottom center;
    z-index: 2;
    border-radius: 1px;
    background: none;
    height: 270px;
    top: 10px;
    opacity: 0.5;
  }
  .clock-indicators__item:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .clock-indicators__item:nth-child(1), .clock-indicators__item:nth-child(3), .clock-indicators__item:nth-child(5), .clock-indicators__item:nth-child(7) {
    opacity: 1;
    width: 8px;
  }
  .clock-indicators__item:nth-child(1):after, .clock-indicators__item:nth-child(3):after, .clock-indicators__item:nth-child(5):after, .clock-indicators__item:nth-child(7):after {
    height: 20px;
    width: 6px;
  }
  .clock-indicators__item:nth-of-type(1) {
    transform: rotateZ(calc(45deg * 1));
  }
  .clock-indicators__item:nth-of-type(2) {
    transform: rotateZ(calc(45deg * 2));
  }
  .clock-indicators__item:nth-of-type(3) {
    transform: rotateZ(calc(45deg * 3));
  }
  .clock-indicators__item:nth-of-type(4) {
    transform: rotateZ(calc(45deg * 4));
  }
  .clock-indicators__item:nth-of-type(5) {
    transform: rotateZ(calc(45deg * 5));
  }
  .clock-indicators__item:nth-of-type(6) {
    transform: rotateZ(calc(45deg * 6));
  }
  .clock-indicators__item:nth-of-type(7) {
    transform: rotateZ(calc(45deg * 7));
  }
  .clock-indicators__item:nth-of-type(8) {
    transform: rotateZ(calc(45deg * 8));
  }
  .clock-indicators__item:nth-of-type(9) {
    transform: rotateZ(calc(45deg * 9));
  }
  .clock-indicators__item:nth-of-type(10) {
    transform: rotateZ(calc(45deg * 10));
  }
  .clock-indicators__item:nth-of-type(11) {
    transform: rotateZ(calc(45deg * 11));
  }
  .clock-indicators__item:nth-of-type(12) {
    transform: rotateZ(calc(45deg * 12));
  }
  .clock-indicators__item:nth-of-type(13) {
    transform: rotateZ(calc(45deg * 13));
  }
  .clock-indicators__item:nth-of-type(14) {
    transform: rotateZ(calc(45deg * 14));
  }
  .clock-indicators__item:nth-of-type(15) {
    transform: rotateZ(calc(45deg * 15));
  }
  .clock-indicators__item:nth-of-type(16) {
    transform: rotateZ(calc(45deg * 16));
  }
  .clock-indicators__item:nth-of-type(17) {
    transform: rotateZ(calc(45deg * 17));
  }
  .clock-indicators__item:nth-of-type(18) {
    transform: rotateZ(calc(45deg * 18));
  }
  .clock-indicators__item:nth-of-type(19) {
    transform: rotateZ(calc(45deg * 19));
  }
  .clock-indicators__item:nth-of-type(20) {
    transform: rotateZ(calc(45deg * 20));
  }
  .clock-indicators__item:nth-of-type(21) {
    transform: rotateZ(calc(45deg * 21));
  }
  .clock-indicators__item:nth-of-type(22) {
    transform: rotateZ(calc(45deg * 22));
  }
  .clock-indicators__item:nth-of-type(23) {
    transform: rotateZ(calc(45deg * 23));
  }
  .clock-indicators__item:nth-of-type(24) {
    transform: rotateZ(calc(45deg * 24));
  }
  .clock-indicators__item:nth-of-type(25) {
    transform: rotateZ(calc(45deg * 25));
  }
  .clock-indicators__item:nth-of-type(26) {
    transform: rotateZ(calc(45deg * 26));
  }
  .clock-indicators__item:nth-of-type(27) {
    transform: rotateZ(calc(45deg * 27));
  }
  .clock-indicators__item:nth-of-type(28) {
    transform: rotateZ(calc(45deg * 28));
  }
  .clock-indicators__item:nth-of-type(29) {
    transform: rotateZ(calc(45deg * 29));
  }
  .clock-indicators__item:nth-of-type(30) {
    transform: rotateZ(calc(45deg * 30));
  }
  .clock-indicators__item:nth-of-type(31) {
    transform: rotateZ(calc(45deg * 31));
  }
  .clock-indicators__item:nth-of-type(32) {
    transform: rotateZ(calc(45deg * 32));
  }
  .clock-indicators__item:nth-of-type(33) {
    transform: rotateZ(calc(45deg * 33));
  }
  .clock-indicators__item:nth-of-type(34) {
    transform: rotateZ(calc(45deg * 34));
  }
  .clock-indicators__item:nth-of-type(35) {
    transform: rotateZ(calc(45deg * 35));
  }
  .clock-indicators__item:nth-of-type(36) {
    transform: rotateZ(calc(45deg * 36));
  }
  .clock-indicators__item:nth-of-type(37) {
    transform: rotateZ(calc(45deg * 37));
  }
  .clock-indicators__item:nth-of-type(38) {
    transform: rotateZ(calc(45deg * 38));
  }
  .clock-indicators__item:nth-of-type(39) {
    transform: rotateZ(calc(45deg * 39));
  }
  .clock-indicators__item:nth-of-type(40) {
    transform: rotateZ(calc(45deg * 40));
  }
  .clock-indicators__item:nth-of-type(41) {
    transform: rotateZ(calc(45deg * 41));
  }
  .clock-indicators__item:nth-of-type(42) {
    transform: rotateZ(calc(45deg * 42));
  }
  .clock-indicators__item:nth-of-type(43) {
    transform: rotateZ(calc(45deg * 43));
  }
  .clock-indicators__item:nth-of-type(44) {
    transform: rotateZ(calc(45deg * 44));
  }
  .clock-indicators__item:nth-of-type(45) {
    transform: rotateZ(calc(45deg * 45));
  }
  .clock-indicators__item:nth-of-type(46) {
    transform: rotateZ(calc(45deg * 46));
  }
  .clock-indicators__item:nth-of-type(47) {
    transform: rotateZ(calc(45deg * 47));
  }
  .clock-indicators__item:nth-of-type(48) {
    transform: rotateZ(calc(45deg * 48));
  }
  .clock-indicators__item:nth-of-type(49) {
    transform: rotateZ(calc(45deg * 49));
  }
  .clock-indicators__item:nth-of-type(50) {
    transform: rotateZ(calc(45deg * 50));
  }
  .clock-indicators__item:nth-of-type(51) {
    transform: rotateZ(calc(45deg * 51));
  }
  .clock-indicators__item:nth-of-type(52) {
    transform: rotateZ(calc(45deg * 52));
  }
  .clock-indicators__item:nth-of-type(53) {
    transform: rotateZ(calc(45deg * 53));
  }
  .clock-indicators__item:nth-of-type(54) {
    transform: rotateZ(calc(45deg * 54));
  }
  .clock-indicators__item:nth-of-type(55) {
    transform: rotateZ(calc(45deg * 55));
  }
  .clock-indicators__item:nth-of-type(56) {
    transform: rotateZ(calc(45deg * 56));
  }
  .clock-indicators__item:nth-of-type(57) {
    transform: rotateZ(calc(45deg * 57));
  }
  .clock-indicators__item:nth-of-type(58) {
    transform: rotateZ(calc(45deg * 58));
  }
  .clock-indicators__item:nth-of-type(59) {
    transform: rotateZ(calc(45deg * 59));
  }
  .clock-indicators__item:nth-of-type(60) {
    transform: rotateZ(calc(45deg * 60));
  }
  
  .clock-times {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .clock-times__second, .clock-times__minute, .clock-times__hour {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 150px;
    background: #f4eed7;
    transform-origin: bottom center;
    top: 5px;
    z-index: 2;
    border-radius: 1px;
  }
  .clock-times__second {
    height: 220px;
    margin-top: 10px;
    top: 12%;
    -webkit-animation: time 2s linear infinite;
            animation: time 2s linear infinite;
    z-index: 3;
    background-image: linear-gradient(to top, #e45753 0%, #ca09e8 100%);
    width: 3px;
    border-radius: 50px;
  }
  .clock-times__minute {
    top: 20%;
    height: 190px;
    margin-top: 20px;
    opacity: 0.75;
    -webkit-animation: time 20s linear infinite;
            animation: time 20s linear infinite;
    -webkit-animation-delay: -35s;
            animation-delay: -35s;
  }
  .clock-times__hour {
    top: 31%;
    height: 150px;
    margin-top: 30px;
    width: 5px;
    border-radius: 50px;
    box-shadow: 3px 1px 6px -1px rgba(10, 21, 53, 0.45);
    -webkit-animation: time 60s linear infinite;
            animation: time 60s linear infinite;
    -webkit-animation-delay: -20s;
            animation-delay: -20s;
  }
  
  @-webkit-keyframes time {
    to {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes time {
    to {
      transform: rotateZ(360deg);
    }
  }
  .bkgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .container {
    padding: 3rem;
    width: 400px;
    position: absolute;
    left: 7%;
    top: 60%;
  }
  
  input[type=search] {
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e5;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    transition: border-color 0.2s;
  }
  
  input[type=search]:focus {
    transition: all 0.5s;
    box-shadow: 0 0 40px rgba(249, 212, 66, 0.7254901961);
    border-color: #f9d342;
    outline: none;
  }
  
  form.search-form {
    display: flex;
    justify-content: center;
  }
  
  label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
  }
  
  input.search-field {
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input.search-submit {
    height: 51px;
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
  }
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .button {
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #f9d342;
    color: #292826;
    border: 1px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    transition: all 0.2s;
  }
  
  .button:hover,
  .button:active,
  .button:focus {
    cursor: pointer;
    background: #d4b743;
    color: #292826;
    outline: 0;
  }
  
  .text1 {
    left: 10%;
    top: 10%;
    position: absolute;
    z-index: 1;
    font-size: 50px;
    color: #fff;
  }
  
  .text2 {
    left: 10%;
    top: 30%;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    color: #fff;
  }
  
  .text3 {
    left: 9.5%;
    top: 60%;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    color: #fff;
  }/*# sourceMappingURL=style.css.map */